<div id="stats-container">
  <div class="col-md-2 stats-left-panel">
    <div class="row">
      <div class="col-md-12 col-xs-6 summary">
        <h3><%= t("index.summary") %></h3>
        <span class="percentage_label"><%= t("index.year_growth") %></span>
        <br/>
        <% year_growth = calculate_growth Time.now.beginning_of_year, Time.now, 1.year.ago.beginning_of_year, 1.year.ago %>
        <% if year_growth > 0 %>
            <p><span class="glyphicon glyphicon-triangle-bottom"></span></p>
        <% elsif year_growth < 0 %>
            <p><span class="glyphicon glyphicon-triangle-top"></span></p>
        <% else %>
            <p><span class="glyphicon glyphicon-question-sign"></span></p>
        <% end %>
        <span class="percentage"><%= number_to_percentage year_growth.abs, precision: 0 %></span>
        <br/>
        <span class="percentage_label"><%= t("index.month_growth") %></span></p>
        <br/>
        <% month_growth = calculate_growth Time.now.beginning_of_month, Time.now, 1.month.ago.beginning_of_month, 1.month.ago %>
        <% if month_growth > 0 %>
            <p><span class="glyphicon glyphicon-triangle-bottom"></span></p>
        <% elsif month_growth < 0 %>
            <p><span class="glyphicon glyphicon-triangle-top"></span></p>
        <% else %>
            <p><span class="glyphicon glyphicon-question-sign"></span></p>
        <% end %>
        <span class="percentage"><%= number_to_percentage month_growth.abs, precision: 0 %></span>
      </div>
      <div class="col-md-12 col-sm-6 total">
        <h2><%= t("index.total") %></h2>
        <h3><%= Spree::Money.new(total_sales_period Time.at(0)) %></h3>
      </div>
    </div>
    <div class="row left-stats">
      <div class="col-md-12 col-xs-4">
          <h4><%= t('index.this_week') %></h4>
          <div class="values">
            <p><%= t('index.total') %>:<br/> <span class="amount"><%= Spree::Money.new(total_sales_period Time.now.beginning_of_week) %></span></p>
            <p><%= t('index.avg_sale') %>:<br/> <span class="amount"><%= Spree::Money.new(average_sales_period Time.now.beginning_of_week) %></span></p>
          </div>
      </div>
      <div class="col-md-12 col-xs-4">
          <h4><%= t('index.this_month') %></h4>
          <div class="values">
            <p><%= t('index.total') %>:<br/> <span class="amount"><%= Spree::Money.new(total_sales_period Time.now.beginning_of_month) %></span></p>
            <p><%= t('index.avg_sale') %>:<br/> <span class="amount"><%= Spree::Money.new(average_sales_period Time.now.beginning_of_month) %></span></p>
          </div>
      </div>
      <div class="col-md-12 col-xs-4">
          <h4><%= t('index.last_3_month') %></h4>
          <div class="values">
            <p><%= t('index.total') %>:<br/> <span class="amount"><%= Spree::Money.new(total_sales_period 3.month.ago.beginning_of_day) %></span></p>
            <p><%= t('index.avg_sale') %>:<br/> <span class="amount"><%= Spree::Money.new(average_sales_period 3.month.ago.beginning_of_day) %></span></p>
          </div>
      </div>
      <div class="col-md-12 col-xs-4">
          <h4><%= t('index.this_year') %></h4>
          <div class="values">
            <p><%= t('index.total') %>:<br/> <span class="amount"><%= Spree::Money.new(total_sales_period) %></span></p>
            <p><%= t('index.avg_sale') %>:<br/> <span class="amount"><%= Spree::Money.new(average_sales_period) %></span></p>
          </div>
      </div>
      <div class="col-md-12 col-xs-8">
          <h4><%= t('index.avg_sale') %></h4>
          <div class="values"><p class="amount"><%= Spree::Money.new(average_sales_period Time.at(0)) %></p></div>
          <h4><%= t('index.avg_sale_month') %></h4>
          <div class="values"><p class="amount"><%= number_with_precision average_num_period, precision: 2 %>ventes</p> </div>
          <h4><%= t('index.avg_sale_day') %></h4>
          <div class="values"><p class="amount"><%= number_with_precision average_num_period('doy'), precision: 2 %> ventes</p></div>
      </div>
    </div>
  </div>
  <div>
    <div class="col-sm-2">
      <div class="sale-swatch">
        <h3><%= t('index.sales_today') %></h3>
        <div class="cash-money"><%= Spree::Money.new(total_sales_period Time.now.beginning_of_day) %></div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="sale-swatch">
        <h3><%= t('index.sales_yesterday') %></h3>
        <div class="cash-money"><%= Spree::Money.new(total_sales_period 1.day.ago.beginning_of_day, Time.now.beginning_of_day) %></div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="sale-swatch">
        <h3><%= t('index.sales_last_week') %></h3>
        <div class="cash-money">
          <%= Spree::Money.new(total_sales_period 1.week.ago.beginning_of_week, Time.now.beginning_of_week)%></div>
      </div>
    </div>

    <div class="col-md-2 col-sm-3">
      <div class="sale-swatch">
        <h3><%= t('index.sales_last_month') %></h3>
        <div class="cash-money"><%= Spree::Money.new(total_sales_period 1.month.ago.beginning_of_month, Time.now.beginning_of_month) %></div>
      </div>
    </div>

    <div class="col-md-2 col-sm-3">
      <div class="sale-swatch">
        <h3><%= t('index.sales_year') %></h3>
        <div class="cash-money"><%= Spree::Money.new(total_sales_period) %></div>
      </div>
    </div>

  </div>

  <div class="visible-sm" style="clear:both"></div>

  <div class="stats">
    <div class="col-md-4 region-chart">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><%= t('index.sales_by_region') %></h3>
        </div>
        <div class="panel-body">
          <div id="chart" style="height:550px">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><%= t('index.sales') %></h3>
        </div>
        <div class="panel-body">
          <div id="line_bar" style="height:550px">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>

    <% top_taxo = top_taxonomies %>
    <% unless top_taxo.empty? %>
      <div class="col-md-4">
        <div class="panel panel-default categories">
          <div class="panel-heading">
            <h3><%= t('index.best_categories') %></h3>
          </div>
          <div class="panel-body">
            <% top_taxo.each do |category, best| %>
              <h4><%= category %></h4>
              <ul class="list-group">
                <% best.each do |b| %>
                  <li class="list-group-item">
                    <span class="number"><%= b[:value] %></span>
                    <%= b[:name] %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="col-md-6 clear">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><%= t('index.new_users') %></h3>
        </div>
        <div class="panel-body">
          <div id="user-chart" style="height:200px">
            <svg style="width: 100%"></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><%= t('index.new_emails') %></h3>
        </div>
        <div class="panel-body">
          <div id="email-chart" style="height:200px">
            <svg style="width: 100%"></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
<%= render partial: 'spree/admin/dashboards/graphs.js' %>
</script>
